.sections {
	display: flex;
	flex-direction: column;
	gap: 20px;

	.section {
		background: $background-block-color;
		padding: 20px;
		border-radius: 20px;
		border: 1px solid $border-color;
		box-shadow: 0 12px 30px $shadow-color;

		.sectionHeader {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 14px;

			h2 {
				font-size: 18px;
				font-weight: 600;
				color: $text-main;
			}

			button {
				background: $primary;
				color: $white;
				border: none;
				padding: 8px 14px;
				border-radius: 10px;
				cursor: pointer;
				font-size: 1rem;
				font-weight: 600;
				transition: all 0.2s ease;

				&:hover {
					background: $dark-primary;
					transform: translateY(-1px);
				}
			}
		}

		.list {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
			gap: 12px;

			.empty {
				font-size: 14px;
				color: $text-muted;
			}

			.card {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				padding: 16px;
				border-radius: 16px;
				background: $white;
				border: 1px solid $border-color;
				box-shadow: 0 8px 20px $shadow-color;

				min-height: 120px;
				position: relative;

				transition: all 0.2s ease;

				&:hover {
					transform: translateY(-3px);
					box-shadow: 0 12px 24px $shadow-color-strong;
				}

				> div {
					h4 {
						font-size: 15px;
						font-weight: 600;
						color: $text-main;
						margin-bottom: 6px;
					}

					p {
						font-size: 13px;
						color: $text-secondary;
					}
				}

				.delete {
					position: absolute;
					top: 1px;
					right: 10px;
					background: none;
					border: none;
					font-size: 2rem;
					cursor: pointer;
					color: $primary;
					transition: opacity 0.2s ease;
					opacity: 0.8;

					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.sections {
		.section {
			padding: 16px;

			.sectionHeader {
				.list {
					grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
				}
			}
		}
	}
}

@media (max-width: 480px) {
	.list {
		grid-template-columns: 1fr;
	}
}
