::-ms-backdrop {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0 solid;
}
::-webkit-file-upload-button {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0 solid;
}
*,
::backdrop,
::file-selector-button,
:after,
:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0 solid;
}
:host,
:root {
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-tap-highlight-color: transparent;
}
hr {
	height: 0;
	color: inherit;
	border-top-width: 1px;
}
abbr:where([title]) {
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
a {
	color: inherit;
	-webkit-text-decoration: inherit;
	text-decoration: inherit;
}
b,
strong {
	font-weight: bolder;
}
code,
kbd,
pre,
samp {
	font-size: 1em;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
table {
	text-indent: 0;
	border-color: inherit;
	border-collapse: collapse;
}
:-moz-focusring {
	outline: auto;
}
progress {
	vertical-align: baseline;
}
summary {
	display: list-item;
}
menu,
ol,
ul {
	list-style: none;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
	display: block;
	vertical-align: middle;
}
img,
video {
	max-width: 100%;
	height: auto;
}
::-webkit-file-upload-button {
	font: inherit;
	-webkit-font-feature-settings: inherit;
	font-feature-settings: inherit;
	font-variation-settings: inherit;
	letter-spacing: inherit;
	color: inherit;
	border-radius: 0;
	background-color: transparent;
	opacity: 1;
}
::file-selector-button,
button,
input,
optgroup,
select,
textarea {
	font: inherit;
	-webkit-font-feature-settings: inherit;
	font-feature-settings: inherit;
	font-variation-settings: inherit;
	letter-spacing: inherit;
	color: inherit;
	border-radius: 0;
	background-color: transparent;
	opacity: 1;
}
:where(select:is([multiple], [size])) optgroup {
	font-weight: bolder;
}
:where(select:is([multiple], [size])) optgroup option {
	-webkit-padding-start: 20px;
	padding-inline-start: 20px;
}
::-webkit-file-upload-button {
	-webkit-margin-end: 4px;
	margin-inline-end: 4px;
}
::file-selector-button {
	-webkit-margin-end: 4px;
	margin-inline-end: 4px;
}
::-webkit-input-placeholder {
	opacity: 1;
}
::-moz-placeholder {
	opacity: 1;
}
:-ms-input-placeholder {
	opacity: 1;
}
::-ms-input-placeholder {
	opacity: 1;
}
::placeholder {
	opacity: 1;
}
textarea {
	resize: vertical;
}
::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-date-and-time-value {
	min-height: 1lh;
	text-align: inherit;
}
::-webkit-datetime-edit {
	display: -webkit-inline-box;
	display: inline-flex;
}
::-webkit-datetime-edit-fields-wrapper {
	padding: 0;
}
::-webkit-datetime-edit,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-meridiem-field,
::-webkit-datetime-edit-millisecond-field,
::-webkit-datetime-edit-minute-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-second-field,
::-webkit-datetime-edit-year-field {
	padding-block: 0;
}
::-webkit-calendar-picker-indicator {
	line-height: 1;
}
:-moz-ui-invalid {
	box-shadow: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
}
::file-selector-button,
button,
input:where([type='button'], [type='reset'], [type='submit']) {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}
[hidden]:where(:not([hidden='until-found'])) {
	display: none !important;
}

* {
	font-family: $default-font;
}
